---
layout: default
---
<style type="text/css">
	img{
		max-width: 75%;
	}
</style>
<div class="container">
	<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>So Many Words</h1>
		<h2>Semi-Coherent Notes Meant to Demonstrate That I Am Still Alive and Doing My Work</h2>
	</div>
	    {% for post in site.posts %}
	    <div class="col-md-3 col-md-offset-1">
	    <h3>{{ post.date | date_to_string }}</h3><p><a href="{{ post.url }}">{{ post.title }}</a></p><hr>
	    </div>
	    {% endfor %}
	</div>
	</div>
</div>